@use '@/assets/styles/variables' as v;
@use '@/assets/styles/mixins' as m;
@use 'sass:color';

.nowrap {
  display: block;

  font-size: inherit;
  line-height: inherit;
  color: inherit;
  letter-spacing: inherit;
  white-space: nowrap;
}

/* 画面幅によって表示or非表示 */
@include m.sp {
  .sp-none {
    display: none;
  }
}

.glassy-box {
  position: relative;

  width: 100%;
  height: 100%;
  padding: 22px 36px;
  border-radius: 20px;

  background-color: transparent;
  backdrop-filter: blur(4px);

  transition: 0.15s transform ease, 0.15s background-color ease;

  // グラスモーフィズム的な表現のための疑似要素
  &::after {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: inherit;

    background-image: linear-gradient(
        135deg,
        rgb(255 255 255 / 85%) 6px,
        rgb(255 255 255 / 10%) 12px
      ),
      linear-gradient(
        315deg,
        rgb(255 255 255 / 30%) 20px,
        rgb(255 255 255 / 10%) 40px
      );
    background-clip: border-box, border-box;
    background-origin: border-box, border-box;

    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &:not(.none-hover-animation):hover {
    transform: scale(1.02);

    &.glassy-box--cyan {
      background-color: rgba(v.$vket-cyan, 0.2);
    }

    &.glassy-box--light-cyan {
      background-color: rgba(v.$vket-cyan, 0.2);
    }

    &.glassy-box--magenta {
      background-color: rgba(v.$vket-magenta, 0.2);
    }

    &.glassy-box--light-magenta {
      background-color: rgba(v.$vket-magenta, 0.2);
    }

    &.glassy-box--amber {
      background-color: rgba(v.$vket-amber, 0.2);
    }

    &.glassy-box--vermilion {
      background-color: rgba(v.$vket-vermilion, 0.2);
    }
  }

  &--cyan {
    background-color: rgba(color.mix(black, v.$vket-cyan, 60%), 0.05);
    box-shadow: 0 0 20px 0 rgba(v.$vket-cyan, 0.4) inset;

    .glassy-box__icon {
      background: rgba(v.$vket-cyan, 0.4);
    }

    > .title {
      color: v.$vket-cyan;
    }

    .title-box .label {
      color: v.$vket-cyan;
    }
  }

  &--light-cyan {
    background-color: rgba(color.mix(black, v.$vket-cyan, 60%), 0.05);
    box-shadow: 0 0 20px 0 rgba(v.$vket-cyan, 0.4) inset;

    .glassy-box__icon {
      background: rgba(v.$vket-cyan, 0.4);
    }

    > .title {
      color: v.$vket-light-cyan;
    }

    .title-box .label {
      color: v.$vket-cyan;
    }
  }

  &--magenta {
    background-color: rgba(color.mix(black, v.$vket-magenta, 60%), 0.05);
    box-shadow: 0 0 20px 0 rgba(v.$vket-magenta, 0.4) inset;

    .glassy-box__icon {
      background: rgba(v.$vket-magenta, 0.4);
    }

    > .title {
      color: v.$vket-magenta;
    }

    .title-box .label {
      color: v.$vket-magenta;
    }
  }

  &--light-magenta {
    background-color: rgba(color.mix(black, v.$vket-magenta, 60%), 0.05);
    box-shadow: 0 0 20px 0 rgba(v.$vket-magenta, 0.4) inset;

    .glassy-box__icon {
      background: rgba(v.$vket-magenta, 0.4);
    }

    > .title {
      color: v.$vket-light-magenta;
    }

    .title-box .label {
      color: v.$vket-magenta;
    }
  }

  &--amber {
    background-color: rgba(color.mix(black, v.$vket-amber, 60%), 0.05);
    box-shadow: 0 0 20px 0 rgba(v.$vket-amber, 0.4) inset;

    .glassy-box__icon {
      background: rgba(v.$vket-amber, 0.4);
    }

    > .title {
      color: v.$vket-amber;
    }

    .title-box .label {
      color: v.$vket-amber;
    }
  }

  &--vermilion {
    background-color: rgba(color.mix(black, v.$vket-vermilion, 60%), 0.05);
    box-shadow: 0 0 20px 0 rgba(v.$vket-vermilion, 0.4) inset;

    .glassy-box__icon {
      background: rgba(v.$vket-vermilion, 0.4);
    }

    > .title {
      color: v.$vket-vermilion;
    }

    .title-box .label {
      color: v.$vket-vermilion;
    }
  }

  > .title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.2em;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 50%;
    }
  }
}

.glassy-box-2 {
  position: relative;

  border-radius: 20px;

  backdrop-filter: blur(4px);
  box-shadow: inset rgb(70 132 255 / 35%) 0 0 16px 4px;

  transition: 0.15s transform ease;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: inherit;
    height: inherit;
    border: 1px solid transparent;
    border-radius: inherit;

    background-image: linear-gradient(
        135deg,
        rgb(255 255 255 / 65%) 20px,
        rgb(255 255 255 / 15%) 40px
      ),
      linear-gradient(
        315deg,
        rgb(255 255 255 / 65%) 20px,
        rgb(255 255 255 / 15%) 40px
      );
    background-clip: border-box, border-box;
    background-origin: border-box, border-box;

    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &:not(.none-hover-animation):hover {
    transform: scale(1.02);
  }
}

.glassy-box-3 {
  position: relative;

  border-radius: 20px;

  backdrop-filter: blur(4px);
  box-shadow: inset rgb(black, 0.2) 0 0 16px 4px;

  transition: 0.15s transform ease;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: inherit;

    background-image: linear-gradient(
        45deg,
        rgb(v.$base-background-color, 0.8) 10px,
        rgb(v.$base-background-color, 0) 20px
      ),
      linear-gradient(
        225deg,
        rgb(v.$base-background-color, 0.8) 10px,
        rgb(v.$base-background-color, 0) 20px
      ),
      linear-gradient(
        135deg,
        rgb(255 255 255 / 75%) 10px,
        rgb(255 255 255 / 30%) 20px
      ),
      linear-gradient(
        315deg,
        rgb(255 255 255 / 75%) 10px,
        rgb(255 255 255 / 30%) 20px
      );
    background-clip: border-box, border-box, border-box, border-box;
    background-origin: border-box, border-box, border-box, border-box;

    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;

    @include m.sp {
      border-width: 1px;
    }
  }

  &:not(.none-hover-animation):hover {
    transform: scale(1.02);
  }
}

.glassy-box-4 {
  position: relative;

  border-radius: 20px;

  background-color: rgb(217 217 217 / 20%);
  backdrop-filter: blur(4px);

  transition: 0.15s transform ease;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: inherit;

    background-image: linear-gradient(
        45deg,
        rgb(v.$base-background-color, 0.75) 10px,
        rgb(v.$base-background-color, 0) 20px
      ),
      linear-gradient(
        225deg,
        rgb(v.$base-background-color, 0.75) 10px,
        rgb(v.$base-background-color, 0) 20px
      ),
      linear-gradient(
        135deg,
        rgb(255 255 255 / 65%) 10px,
        rgb(255 255 255 / 15%) 20px
      ),
      linear-gradient(
        315deg,
        rgb(255 255 255 / 65%) 10px,
        rgb(255 255 255 / 15%) 20px
      );
    background-clip: border-box, border-box, border-box, border-box;
    background-origin: border-box, border-box, border-box, border-box;

    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &--radius-full {
    border-radius: 100px;
  }

  &--radius-full {
    border-radius: 100px;
  }

  &:not(.none-hover-animation):hover {
    transform: scale(1.02);
  }
}

.glassy-carousel {
  position: relative;
  border-radius: 7px;
  background-color: rgb(217 217 217 / 20%);

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: inherit;

    background-image: linear-gradient(
        45deg,
        rgb(v.$base-background-color, 0.75) 3.5px,
        rgb(v.$base-background-color, 0) 7px
      ),
      linear-gradient(
        225deg,
        rgb(v.$base-background-color, 0.75) 3.5px,
        rgb(v.$base-background-color, 0) 7px
      ),
      linear-gradient(135deg, rgb(255 255 255 / 55%));
    background-clip: border-box, border-box, border-box;
    background-origin: border-box, border-box, border-box;

    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

.glassy-button-3 {
  position: relative;

  border-radius: 1000px;

  background-color: rgb(217 217 217 / 20%);
  backdrop-filter: blur(4px);
  box-shadow: inset rgb(black, 0.2) 0 0 16px 4px;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: inherit;
    height: inherit;
    border: 1px solid transparent;
    border-radius: inherit;

    background-image: linear-gradient(
        45deg,
        rgb(v.$base-background-color, 0.8) 10px,
        rgb(v.$base-background-color, 0) 20px
      ),
      linear-gradient(
        225deg,
        rgb(v.$base-background-color, 0.8) 10px,
        rgb(v.$base-background-color, 0) 20px
      ),
      linear-gradient(
        135deg,
        rgb(255 255 255 / 75%) 10px,
        rgb(255 255 255 / 30%) 20px
      ),
      linear-gradient(
        315deg,
        rgb(255 255 255 / 75%) 10px,
        rgb(255 255 255 / 30%) 20px
      );
    background-clip: border-box, border-box, border-box, border-box;
    background-origin: border-box, border-box, border-box, border-box;

    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &:not(.none-hover-animation):hover {
    transform: scale(1.02);
  }
}

.subtitle {
  width: fit-content;
  margin: 0 auto 42px;

  font-size: 32px;
  font-weight: 700;
  line-height: 1.5em;
  color: white;
  text-align: center;

  @include m.tb {
    font-size: 20px;
  }

  @include m.sp {
    margin-bottom: 40px;
  }
}

.description {
  width: fit-content;
  margin: 0 auto 42px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
  color: white;
  text-align: center;

  @include m.tb {
    font-size: 16px;
  }

  @include m.sp {
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: normal;
  }

  &--left {
    text-align: left;
  }
}

/* swiper.js */
.custom-swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 100px;

  background-color: #1e355b;

  @include m.sp {
    width: 24px;
    height: 24px;

    svg {
      height: 80%;
    }
  }

  &.is-disabled {
    opacity: 0.6;
    background-color: transparent;
  }
}

.custom-swiper-pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 60px;

  @include m.tb {
    display: none;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: rgb(30 53 91 / 100%);

    &.swiper-pagination-bullet-active {
      background-color: rgb(94 130 190 / 100%);
    }
  }
}
