/* color palette */
$violet: #b760eb; // Sidebar button
$blue: #3ff; // button02, tag, link hover, #33FFFF
$blue-1: #0c98da; // Sidebar button
$yellow: #ffba00; // button01 hover, text link hover
$orange: #ff8500; // button01, tag
$green: #69b756; // Sidebar button
$green-1: #47c6ae; // Sidebar button
$green-2: #1b5e68; // form focus
$red: #c43232; // alert
$red-1: #46212a; // form error
$pink: #ff4e8e; // button03, tag
$pink-1: #f86464; // Sidebar button
$gray: #737477; // Button disabled BG
$black: #111827; // Body BG
$black-1: #020e1c; // Header Footer BG
$navy: #101e3c; // Sub BG
$navy-1: #17385d; // Item Card BG
$navy-2: #19477f; // Line
$white: #fff;
$white-1: rgba(#fff, 0.7);

/* vket color palette */
$vket-dark-navy: #0f1b2e;
$vket-cyan: #00d9ff;
$vket-magenta: #ff006e;
$vket-amber: #ffa500;
$vket-vermilion: #ff4500;
$vket-emerald: #43ffbd;
$vket-white: #fff;
$vket-gray: #a0a0a0;
$vket-dark-purple: #2d1b4e; // デザイン要件定義には「薄紫」と記載されている
$vket-pink: #ff1493;
$vket-yellow-green: #7fff00;
$vket-cherry-blossom: #ffb7c5;
$vket-rich-navy: #001a4d;
$vket-lime: #0f0;
$vket-orange: #ff8c00;
$vket-light-blue: #00bfff;
$vket-deep-navy: #0a0f1a;
$vket-light-purple: #dda0dd;
$vket-ice-blue: #b0e0e6;
$vket-light-cyan: #6dd3ff;
$vket-light-magenta: #ff82b8;
$vket-green: #258966;
$vket-purple: #9747ff;
$vket-emgreen: #62d9af;

/* スタイルガイドにないcolor */
$gray-1: #d1d1d1;
$gray-2: #505050;
$gray-3: #ffffff4d; // button
$green-3: #33ffff80; // button
$green-4: #228d92; // button
$green-5: #2bc6ca; // button
$blue-2: #353e49;
$black-undercoat: rgb(0 0 0 / 70%);

/* text color */
$text-body: #fff;
$text-link: #9a9daa;
$text-note: #737477;
$box-shadow: 5px 5px 5px rgba($gray-2, 0.2);

/* SNS Brand Colors */
$twitter: #1d9bf0;
$facebook: #1877f2;
$discord: #5865f2;
$note: #41c9b4;
$instagram-gradation: linear-gradient(to right, #febd1c, #f50200, #c10098);

/* color role */
$primary-color: $orange;
$primary-hover-color: $yellow;
$secondary-color: $blue;
$secondary-hover-color: $pink;
$base-background-color: #0f1b2e;
$base-font-color: $vket-white;
$sub-font-color: $vket-gray;
$font-color-note: $text-note;
$font-color-link: $text-link;
$font-color-headline: $black;
$font-color-placeholder: $text-link;
$base-link-color: $text-link;
$base-link-hover-color: $blue;
$primary-button-default-color: $orange;
$primary-button-active-color: $yellow;
$secondary-button-default-color: $blue;
$secondary-button-active-color: $pink;
$button-disabled-color: $gray;

/* early spring */
$spring-background-color: $vket-dark-navy;
$spring-accent-color-1: $vket-pink;
$spring-accent-color-2: $vket-yellow-green;
$spring-accent-color-3: $vket-cherry-blossom;

/* summer */
$summer-background-color: $vket-rich-navy;
$summer-accent-color-1: $vket-lime;
$summer-accent-color-2: $vket-orange;
$summer-accent-color-3: $vket-light-blue;

/* autumn */
$autumn-background-color: $vket-dark-navy;
$autumn-accent-color-1: $vket-cyan;
$autumn-accent-color-2: $vket-magenta;
$autumn-accent-color-3: $vket-vermilion;

/* winter */
$winter-background-color: $vket-deep-navy;
$winter-accent-color-1: $vket-white;
$winter-accent-color-2: $vket-light-purple;
$winter-accent-color-3: $vket-ice-blue;

/* font-settings */
// 参考： https://ics.media/entry/200317/
$base-font-family: 'Noto Sans JP', '游ゴシック', sans-serif;
$base-font-weight: 400;
$base-font-size: 16px;
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$body-font-size: 1rem;
$caption-font-size: 14px; // FIXME: base-font-sizeを10pxとして1.4remとすべきかもしれない。レスポンシブ対応によるbase-font-sizeの変動についてデザイナーに仕様を確認してフォントサイズの管理方法を決める。

/* content width */
$pc-content-max-width: 1920px;
$pc-content-medium-width: 1280px;
$pc-content-min-width: 1080px;
$sp-query-width: 500px;
$xs-query-width: 370px;
$media-query-width: 769px;
$side-menu-width: 90px;
$side-menu-height-sp: 64px;

/*
  headerの高さはグローバルに定義したい。
  headerをposition:fixedにすることによりmainにheaderの高さ分padding-topを設けたり
  アンカーリンクのオフセット調整のために使用する
*/
$vket-header-height-pc: 128px;
$vket-header-height-tb: 112px;
$vket-header-height-sp: 112px;

// topページ用に追加
$pc-content-body-width: 1470px;

/* content height */
$header-height-pc: 80px;
$header-height-sp: 60px;
$mypage-header-height-pc: 72px;
$mypage-header-height-sp: 72px;

/* space-settings */
$space-base: 16px;
$space-unit: 4px;

/* vket space settings */
$margin-between-sections-pc: 80px;
$margin-between-sections-tablet: 60px;
$margin-between-sections-sp: 40px;
$padding-card-pc: 24px;
$padding-card-sp: 16px;

@function space($value) {
  @return $value * $space-unit;
}

/* z-index-settings */
$zindex-main: 1;
$zindex-dialog: 100;
$zindex-mypage-header: 200;
$zindex-side-menu: $zindex-mypage-header + 1;
$zindex-footer: $zindex-mypage-header + 2;
$zindex-header: $zindex-mypage-header + 3;
$zindex-side-menu-button: $zindex-mypage-header + 4;
$zindex-toast: 300;
$zindex-loading: 400;

// todo: extend.scss 作成するか記述場所決める

/* 各ページタイトルのデザイン */
%title {
  display: flex;
  font-size: 24px;

  &::before {
    content: '';

    display: block;

    width: 5px;
    margin-right: space(2);
    border-radius: 6px;

    background: $orange;
  }
}

/* スクロールバーのデザイン */
// note: scrollbar-color はソリッドカラーのみ指定可能なので一応旧構文で書いている
%scroll-bar {
  // 幅
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  // 背景
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px $green-4;
  }

  // ボタン
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $green-5;
  }
}
